<!DOCTYPE html>
<html>
<head>
    <title>Chainalysis Challenge</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id="app">
        <div>
            <span style="display: flex; justify-content: center; align-items: center; text-align: center;">{{ message }}</span>
        </div>

        <div v-if="deadNetwork" class="hide-stale-data">
            <button class="connect-button" v-on:click="attemptConnection">Attempt server connection</button>
            <div style="padding-top: 10px;">
                <span class="server-error">There seems to be an issue with the server. Try reconnecting.</span>
            </div>
        </div>
        <div v-else class="homepage">
            <div>
                <exchange
                    v-for="exchange in exchanges"
                    v-bind:exchange="exchange"
                    v-bind:key="exchange.id"
                ></exchange>
            </div>
            <div class="prices">
                <price-display
                    v-for="exchange in exchanges"
                    v-bind:exchange="exchange"
                    v-bind:key="exchange.id"
                ></price-display>
            </div>

            <div v-if="reqsMade" class="recommendations">
                <div class="buy-or-sell">
                    <div class="recommendation-title">Best Buy</div>
                    <recommendation
                        v-for="rec in buy_recs"
                        v-bind:rec="rec"
                        v-bind:exchanges="exchanges"
                        v-bind:key="rec.symbol"
                    ></recommendation>
                </div>
                <div class="buy-or-sell">
                    <div class="recommendation-title">Best Sell</div>
                    <recommendation
                        v-for="rec in sell_recs"
                        v-bind:rec="rec"
                        v-bind:exchanges="exchanges"
                        v-bind:key="rec.symbol"
                    ></recommendation>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Our exchange logo
        Vue.component('exchange', {
            props: ['exchange'],
            template:   '<span class="exchange-logo-span">'+
                            '<a v-bind:href = exchange.link>' +
                                '<img class="exchange-logo" v-bind:src = exchange.image>' +
                            '</a>' +
                        '</span>'
        })

        // Our prices component
        Vue.component('price-display', {
            props: ['exchange'],
            template:   '<span class="price-section">' +
                            '<div class="currency" v-for="currency in exchange.currencies">' +
                                '<div class="trade">' +
                                    '<a v-bind:href=exchange.link class="exchange-link-buy">buy</a> ' +
                                    '{{ currency.symbol }}: {{currency.buy}} USD' +
                                '</div>'+
                                '<div class="trade">' +
                                    '<a v-bind:href=exchange.link class="exchange-link-sell">sell</a> ' +
                                    '{{ currency.symbol }}: {{currency.sell}} USD' +
                                '</div>' +
                            '</div>'+
                        '</span>'
        })

        // Our recommendations
        Vue.component('recommendation', {
            props: ['rec'],
            template:   '<span class="recommendation-section">' +
                            '<div>{{ rec.symbol }} {{ rec.exchange }}</div>' +
                        '</span>'
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: null,
                exchanges: [
                    {
                        id: 0,
                        name: "Kraken",
                        currencies: [{symbol: "BTC", buy: null, sell: null}, {symbol: "ETH", buy: null, sell: null}],
                        image: "images/kraken.jpg",
                        link: "https://www.kraken.com"
                    },
                    {
                        id: 1,
                        name: "Coinbase",
                        currencies: [{symbol: "BTC", buy: null, sell: null}, {symbol: "ETH", buy: null, sell: null}],
                        image: "images/coinbase.svg",
                        link: "https://www.coinbase.com"
                    }],
                    buy_recs: [{symbol: "BTC", exchange: null}, {symbol: "ETH", exchange: null}],
                    sell_recs: [{symbol: "BTC", exchange: null}, {symbol: "ETH", exchange: null}],
                    last_update: null,
                    deadNetwork: true,  // the connection to the server is down.
                    reqsMade: false     // true if we've made a recommendation
            },
            beforeMount() {
                // When we first load, connect to the server.
                this.attemptConnection()

                // Try to request the data every 2 seconds.
                // If the connection is down, we increment the number of seconds since
                // the last update so the user know's their data is stale.
                window.setInterval(() => {
                    let now = new Date()
                    if (this.last_update == null) {
                        this.last_update = now
                    }

                    // We are connected
                    if (!this.deadNetwork) {
                        this.callBackend();
                        this.last_update = now
                    }

                    let prev = this.last_update
                    this.message = "Last update: " + Math.round(((now - prev) / 1000)) + " seconds ago.";
                }, 2000)
            },
            methods: {
                findRecommendations: function () {
                    kraken = this.exchanges[0]
                    coinbase = this.exchanges[1]

                    // Set the recommendations.
                    for (let i = 0; i < 2; i++) {
                        // Buy recommendation, we buy wherever is cheaper
                        if (kraken.currencies[i].buy < coinbase.currencies[i].buy) {
                            this.buy_recs[i] = {
                                symbol: kraken.currencies[i].symbol,
                                exchange: kraken.name
                            }
                        } else {
                            this.buy_recs[i] = {
                                symbol: coinbase.currencies[i].symbol,
                                exchange: coinbase.name
                            }
                        }
                        // Sell recommendation, we sell wherever is most expensive
                        if (kraken.currencies[i].sell < coinbase.currencies[i].sell) {
                            this.sell_recs[i] = {
                                symbol: coinbase.currencies[i].symbol,
                                exchange: coinbase.name
                            }
                        } else {
                            this.sell_recs[i] = {
                                symbol: kraken.currencies[i].symbol,
                                exchange: kraken.name
                            }
                        }
                    }
                    this.reqsMade = true;
                },

                attemptConnection: function () {
                    // this.deadNetwork = false;
                    this.message = "Updating"
                    this.callBackend()
                },

                callBackend: function () {
                    fetch("http://localhost:8080/api/data")
                    .then(response => {
                        return response.json()
                    })
                    .then(json => {
                        this.deadNetwork = false;
                        let data = json["data"];
                        let x = null;
                        for (x in data) {
                            <!-- console.log(data[x]) -->
                            let exchange = data[x];
                            if (exchange["name"] == "Kraken") {
                                this.exchanges[0].currencies[0].buy = exchange["BTC"]["buy"];
                                this.exchanges[0].currencies[1].buy = exchange["ETH"]["buy"];
                                this.exchanges[0].currencies[0].sell = exchange["BTC"]["sell"];
                                this.exchanges[0].currencies[1].sell = exchange["ETH"]["sell"];
                            } else if (exchange["name"] == "Coinbase") {
                                this.exchanges[1].currencies[0].buy = exchange["BTC"]["buy"];
                                this.exchanges[1].currencies[1].buy = exchange["ETH"]["buy"];
                                this.exchanges[1].currencies[0].sell = exchange["BTC"]["sell"];
                                this.exchanges[1].currencies[1].sell = exchange["ETH"]["sell"];
                            } else {
                                console.log("It no worky");
                                console.log(x);
                            }
                        }
                        <!-- let kraken = json["kraken"]; -->
                        <!-- let coinbase = json["coinbase"]; -->

                        <!-- this.exchanges[0].currencies[0].buy = kraken["BTC"]["buy"]; -->
                        <!-- this.exchanges[0].currencies[1].buy = kraken["ETH"]["buy"]; -->
                        <!-- this.exchanges[0].currencies[0].sell = kraken["BTC"]["sell"]; -->
                        <!-- this.exchanges[0].currencies[1].sell = kraken["ETH"]["sell"]; -->

                        <!-- this.exchanges[1].currencies[0].buy = coinbase["BTC"]["buy"]; -->
                        <!-- this.exchanges[1].currencies[1].buy = coinbase["ETH"]["buy"]; -->
                        <!-- this.exchanges[1].currencies[0].sell = coinbase["BTC"]["sell"]; -->
                        <!-- this.exchanges[1].currencies[1].sell = coinbase["ETH"]["sell"]; -->

                        this.findRecommendations();

                        return;
                    })
                    .catch(response => {
                        this.deadNetwork = true;
                    })
                }
            }
        });
    </script>
</body>
</html>

