<!DOCTYPE html>
<html>
<head>
    <title>Chainalysis Challenge</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id="app">
        {{ message }}

        <div v-if="!deadNetwork" class="homepage">
            <div>
                <exchange
                    v-for="exchange in exchanges"
                    v-bind:exchange="exchange"
                    v-bind:key="exchange.id"
                ></exchange>
            </div>
            <div class="prices">
                <price-display
                    v-for="exchange in exchanges"
                    v-bind:exchange="exchange"
                    v-bind:key="exchange.id"
                ></price-display>
            </div>

            <div v-if="reqsMade" class="recommendations">
                <div class="buy-or-sell">
                    <div class="recommendation-title">Best Buy</div>
                    <recommendation
                        v-for="rec in buy_recs"
                        v-bind:rec="rec"
                        v-bind:exchanges="exchanges"
                    ></recommendation>
                </div>
                <div class="buy-or-sell">
                    <div class="recommendation-title">Best Sell</div>
                    <recommendation
                        v-for="rec in sell_recs"
                        v-bind:rec="rec"
                        v-bind:exchanges="exchanges"
                    ></recommendation>
                </div>
            </div>
        </div>
        <div v-else class="networkDown">
            <button class="connect-button" v-on:click="attemptConnection">Attempt server connection</button>
        </div>
    </div>

    <script>
        // Our exchange title
        Vue.component('exchange', {
            props: ['exchange'],
            template: '<span class="exchange-logo-span"><img class="exchange-logo" v-bind:src = exchange.image></span>'
        })

        // Our prices component
        Vue.component('price-display', {
            props: ['exchange'],
            template: '<span class="price-section"><div class="currency" v-for="currency in exchange.currencies"><div class="trade"><a v-bind:href=exchange.link class="exchange-link-buy">buy</a> {{ currency.symbol }}: {{currency.buy}} USD</div><div class="trade"><a v-bind:href=exchange.link class="exchange-link-sell">sell</a> {{ currency.symbol }}: {{currency.sell}} USD</div></div></span>'
        })

        // Our recommendations
        Vue.component('recommendation', {
            props: ['rec'],
            template: '<span class="recommendation-section"><div>{{ rec.symbol }} {{ rec.exchange }}</div></span>'
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                exchanges: [
                    {
                        id: 0,
                        name: "Kraken",
                        currencies: [{symbol: "BTC", buy: 0, sell: 0}, {symbol: "ETH", buy: 0, sell: 0}],
                        image: "images/kraken.jpg",
                        link: "https://www.kraken.com"
                    },
                    {
                        id: 1,
                        name: "Coinbase",
                        currencies: [{symbol: "BTC", buy: 0, sell: 0}, {symbol: "ETH", buy: 0, sell: 0}],
                        image: "images/coinbase.svg",
                        link: "https://www.coinbase.com"
                    }],
                    // TODO: start this off empty!
                    buy_recs: [{symbol: "BTC", exchange: ""}, {symbol: "ETH", exchange: ""}],
                    sell_recs: [{symbol: "BTC", exchange: ""}, {symbol: "ETH", exchange: ""}],
                    deadNetwork: true,  // the connection to the server is down.
                    reqsMade: false     // true if we've made a recommendation
            },
            methods: {
                findRecommendations: function () {
                    kraken = this.exchanges[0]
                    coinbase = this.exchanges[1]

                    // Set the recommendations.
                    for (let i = 0; i < 2; i++) {
                        // Buy recommendation, we buy wherever is cheaper
                        if (kraken.currencies[i].buy < coinbase.currencies[i].buy) {
                            this.buy_recs[i] = {
                                symbol: kraken.currencies[i].symbol,
                                exchange: kraken.name
                            }
                        } else {
                            this.buy_recs[i] = {
                                symbol: coinbase.currencies[i].symbol,
                                exchange: coinbase.name
                            }
                        }
                        // Sell recommendation, we sell wherever is most expensive
                        if (kraken.currencies[i].sell < coinbase.currencies[i].sell) {
                            this.sell_recs[i] = {
                                symbol: coinbase.currencies[i].symbol,
                                exchange: coinbase.name
                            }
                        } else {
                            this.sell_recs[i] = {
                                symbol: kraken.currencies[i].symbol,
                                exchange: kraken.name
                            }
                        }
                    }
                    this.reqsMade = true;
                },
                attemptConnection: function () {
                    app.deadNetwork = false;
                    checkPrices();
                }
            }
        });

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function checkPrices() {
            // only iterate if the network is up
            var i = 0;
            while (!app.deadNetwork) {
                if (app.reqsMade) {
                    await sleep(2000);
                }

                i++;
                app.message = "Checked prices " + i + " times.";

                fetch("http://localhost:8000/prices.json")
                .then(response => {
                    return response.json()
                })
                .then(json => {
                    app.deadNetwork = false;
                    let kraken = json["kraken"];
                    let coinbase = json["coinbase"];

                    app.exchanges[0].currencies[0].buy = kraken["BTC"]["buy"];
                    app.exchanges[0].currencies[1].buy = kraken["ETH"]["buy"];
                    app.exchanges[0].currencies[0].sell = kraken["BTC"]["sell"];
                    app.exchanges[0].currencies[1].sell = kraken["ETH"]["sell"];

                    app.exchanges[1].currencies[0].buy = coinbase["BTC"]["buy"];
                    app.exchanges[1].currencies[1].buy = coinbase["ETH"]["buy"];
                    app.exchanges[1].currencies[0].sell = coinbase["BTC"]["sell"];
                    app.exchanges[1].currencies[1].sell = coinbase["ETH"]["sell"];

                    app.findRecommendations();
                    return;
                })
                .catch(response => {
                    app.deadNetwork = true;
                })
                if (!app.reqsMade) {
                    await sleep(2000);
                }
            }
        }
    </script>
</body>
</html>

