.connect-button {
    left: 40%;
    top: 5%;
    height: 40px;
    position: relative;
}

.currency {
    padding: 10px;
}

.exchange-logo {
    height: 60px;
    width: 100px;
    padding-left: 55px;
}

.exchange-logo-span {
    padding: 30px;
}

.homepage {
    padding-top: 10%;
    padding-left: 40%;
    position: absolute;
    width: 500px;

}

.networkDown {
    top: 50%;
    left: 50%;
}

.price-section {
    padding: 30px;
    display: inline-block;
}

.recommendations {
    padding: 10px;
    border: 3px;
    border-color: black;
    border-style: solid;
    width: 474px; /* homepage width - recommendations.padding * 2 - recommendations.border * 2*/
}

.recommendation-section {
    padding-top: 5px;
    display: block;
    position: relative;
    text-align: center;
}
