.buy-or-sell {
    display: inline-block;
    position: relative;
    width: 50%;
}

.connect-button {
    height: 40px;
    left: 40%;
    position: relative;
    top: 5%;
}

.currency {
    padding-left: 10px;
    padding-bottom: 15px;
}

.exchange-link-buy {
    background: lightgrey;
    border-color: lightgrey;
    border-radius: 5px;
    border-style: solid;
    color: cornflowerblue;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
}

.exchange-link-sell {
    background: lightgrey;
    border-color: lightgrey;
    border-radius: 5px;
    border-style: solid;
    color: orangered;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
}

.exchange-logo {
    height: 60px;
    padding-left: 55px;
    width: 100px;
}

.exchange-logo-span {
    padding: 30px;
}

.homepage {
    padding-left: 35%;
    padding-top: 10%;
    position: absolute;
    width: 500px;
}

.networkDown {
    left: 50%;
    top: 50%;
}

.prices {
    position: relative;
    display: inline-flex;
}

.price-section {
    display: inline-block;
    padding: 30px;
}

.recommendations {
    border: 3px;
    border-color: black;
    border-style: solid;
    display: flex;
    padding: 10px;
    width: 474px; /* homepage width - recommendations.padding * 2 - recommendations.border * 2*/
}

.recommendation-section {
    display: block;
    padding-top: 5px;
    position: relative;
    text-align: center;
}

.recommendation-title {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

.trade {
    padding-bottom: 10px;
}
